* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

header {
    background-color: rgb(141, 154, 142);
    opacity: .8;
    height: auto;
    width: 100%;
    
}

nav {
    width: 100%;
}

.nav-list {
    height: 60px;
    padding: 1rem 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    

}

.nav-item {
    margin-right: 2rem;

}

.nav-item:hover {
    background-color: lightgray;
    

}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
    font-weight: bolder;

}

section {
    margin-top: 15px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgba(235, 232, 232, 0.678);
}

.bio-image {
    width: 25%;
    height: 25%;
}

section h2 {
    background-color: black;
    color: white;
    position: absolute;
    top: -1lh;
    width: 100%;
    padding-left: 1vw;

}

section p {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 5vh;
}


.workhead  {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-left: 1vw;
    
}
.container1 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 300px;
    width: 100vw;
    border: solid black 5px;
    background-color: #2a607c;
    justify-content: space-between;
    
}


.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100vw;
    border: solid black 5px;
    justify-content: space-between;
    
}




.cardnew {
    flex: 0 0 100%;
    height: 300px;
    width: 33vw;
    border: solid black 2px;
    
}

.cardnew:hover {
    filter: brightness(110%);
}

.workimage1 {
    flex: 0 0 100%;
    width: 100%;
    
    
}

.workimageall {
    flex: 0 0 100%;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    position: relative;
    
    
}

.card {
    flex: 0 0 100%;
    width: 33vw;
    border: solid black 2px;
    
}

.card:hover {
    filter: brightness(110%);
}

.cap {
    background-color: rgb(57, 57, 57);
    color: white;
    line-height: 1.75lh;
    
}



.cardimg {
    width: auto
}

.contact {
    height: 10vh;
    display: flex;
    color: black;

}

.contactlist {
    height: 60px;
    padding: 1rem 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: black;
}

.contactli {
    color: black;
}

.contactli:hover {
    color: rgb(88, 88, 88);
}

@media screen and (min-width: 768px) {
    .card {
         flex: 0 0 50%;
    }
}

@media screen and (min-width: 996px) {
    .card {
        flex: 0 0 33%;
    }